/*
	Theme Name: Shop Myrth
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/



/*-----------------------------------------------------------------------------------

  CSS INDEX
  ===================

  01. Google fonts
  02. Scroll To Top
  03. Our Category Area
  04. New Arrivals Area
  05. Testimonial Area
  06. Blog Area
  07. Brand Area
  08. Banner Area
  09. Contact Area
  10. Service Area
  11. Promo Box Area
  12. About Area
  13. Best Sell Product
  14. Intractive Banner Area
  15. Fashion Icon Area
  16. Bradcaump Area
  17. Product Sibebar Area
  18. Product Details
  19. Our Cart Area
  20. Our Blog Page
  21. Our Pagination
  22. Our Blog Details
  23. Our Contact Area
  24. Our Wishlist Area


-----------------------------------------------------------------------------------*/


/*----------------------------------------*/
/*  1. Google fonts
/*----------------------------------------*/

/*
    font-family: 'Old Standard TT', serif;
    font-family: 'Poppins', sans-serif;
*/

body, a, p, div {font-family: 'Poppins', sans-serif !important}

/*---------------------------------------
  02. Scroll To Top
----------------------------------------*/
#scrollUp {
  border-radius: 2px;
  bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 28px;
  height: 45px;
  line-height: 49px;
  position: fixed;
  right: 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 45px;
  z-index: 200;
}
#scrollUp:hover {
}

@-webkit-keyframes scroll-ani-to-top {
  0% {
    opacity: 0;
    bottom: 0;
  }
  50% {
    opacity: 1;
    bottom: 50%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}
@-moz-keyframes scroll-ani-to-top {
  0% {
    opacity: 0;
    bottom: 0;
  }
  50% {
    opacity: 1;
    bottom: 50%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}
@keyframes scroll-ani-to-top {
  0% {
    opacity: 0;
    bottom: 0;
  }
  50% {
    opacity: 1;
    bottom: 50%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}
#scrollUp:hover i {
  animation: 800ms linear 0s normal none infinite running scroll-ani-to-top;
  height: 100%;
  left: 0;
  margin-bottom: -25px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
#scrollUp i {
  color: #fff;
}
 #scrollUp {
  background: #c991ba none repeat scroll 0 0;
}
 

/*---------------------------------------
  End Scroll To Top
----------------------------------------*/

/*---------------------------------------
  03. Our Category Area
----------------------------------------*/

/*---------------------------
  Start Section Title
----------------------------*/


.section__title--2 {
    text-align: center;
}
.section__title--2 h2{
    display: inline-block;
    font-size: 40px;
    padding: 0 33px;
    position: relative;
    text-transform: capitalize;
}
.section__title--2 p {
    color: #7d7d7d;
    font-size: 18px;
    margin-top: 6px;
}
.section__title--2 h2::before {
    background: rgba(0, 0, 0, 0) url("img/others/shape/1.png") repeat scroll 0 0 / cover ;
    content: "";
    height: 5px;
    left: -46%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 172px;
    z-index: -1;
}
.section__title--2 h2::after {
    background: rgba(0, 0, 0, 0) url("img/others/shape/2.png") repeat scroll 0 0 / cover ;
    content: "";
    height: 5px;
    right: -46%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 172px;
    z-index: -1;
}
.section__title {
    position: relative;
    padding-left: 24px;
}
.section__title::before {
    background: rgba(0, 0, 0, 0) url("img/others/shape/3.png") repeat scroll 0 0 / cover ;
    bottom: 0;
    content: "";
    height: 160px;
    left: 0;
    position: absolute;
    width: 5px;
    z-index: 2;
}

.section__title h2 {
    color: #313131;
    font-size: 40px;
    text-transform: capitalize;
}
.section__title p {
    color: #7d7d7d;
    font-size: 18px;
    margin-top: 4px;
    text-transform: capitalize;
}
.section__title.text-center::before {
    left: 41%;
}
.title__border {
    position: relative;
}
.title__border::before {
    background: #ebebeb none repeat scroll 0 0;
    content: "";
    height: 3px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 63%;
}

.section__title__with__cat__link .title__border::before {
  right: 4%;
  width: 63%;
}

.section__title__with__cat__link {
    display: flex;
    justify-content: space-between;
}
.ht__gocat__link {
    margin-top: 10px;
}
.section__title__with__cat__link  .section__title {
    width: 88%;
}
.ht__gocat__link a {
    color: #c991ba;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}
.ht__gocat__link a:hover{
  color: #000;
}



/*---------------------------
  End Section Title
----------------------------*/


.single__pro{
    margin-top: 40px;
}
.cat__hover__inner {
    position: relative;
    padding-left: 19px;
}
.cat__hover__inner::before {
    background: rgba(0, 0, 0, 0) url("img/others/shape/4.png") repeat scroll 0 0 / cover ;
    bottom: 0;
    content: "";
    height: 160px;
    left: 0;
    position: absolute;
    width: 5px;
    z-index: 2;
}

.category {
    position: relative;
}
.cat__hover__info {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    padding: 42px 29px;
    position: absolute;
    transform: scaleY(0);
    transform-origin: center bottom 0;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.cat__hover__inner h2 {
    color: #c991ba;
    font-size: 30px;
    text-transform: uppercase;
}
.cat__hover__inner span {
    color: #555555;
    display: inline-block;
    font-size: 18px;
    margin-top: 6px;
}
.category:hover .cat__hover__info {
    transform: scaleY(1);
}




/*---------------------------------------
  03. Good Sale Area
----------------------------------------*/

.htc__good__sale .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.htc__good__sale {
    position: relative;
}
.ht__good__sale__hover {
    align-items: center;
    background: #c991ba none repeat scroll 0 0;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
    padding: 65px 60px;
}
.ht__good__sale__inner h4 {
    color: #fff;
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Old Standard TT', serif;
}
.ht__good__sale__inner span {
    color: #ffffff;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}
.ht__good__sale__inner p span {
    display: inline-block;
    transform: rotate(-90deg);
    font-weight: 700;
    padding: 0 3px;
}
/*---------------------------------------
  04. New Arrivals Area
----------------------------------------*/




.product {
    margin-top: 40px;
    position: relative;
}
.product__wrap {
    margin-top: 30px;
}
.product__thumb a {
    display: block;
}
.product__thumb a img {
    width: 100%;
}
.product__offer {
    left: 30px;
    position: absolute;
    top: 20px;
}
.product__offer span {
    color: #c991ba;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}
.product__offer span.new {
    color: #ffa200;
}
.product__offer span + span {
    padding-left: 10px;
}
.product__thumb {
    position: relative;
    overflow: hidden;
}
.product__hover__info {
    bottom: -20px;
    margin: auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}
.product:hover .product__hover__info {
    bottom: 0px;
    opacity: 1;
}
.product__action {
    display: flex;
    justify-content: center;
}
.product__action li a {
    background: #fefefe none repeat scroll 0 0;
    display: inline-block;
    height: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 50px;
}
.product__action li {
    margin: 0 1px;
}
.product__action li a i {
    color: #313131;
    font-size: 18px;
    transition: all 0.4s ease 0s;
}
.product__action li a:hover {
    background: #c991ba none repeat scroll 0 0;
}
.product__action li a:hover i {
    color: #fff;
}
.product__inner {
    padding-top: 25px;
    text-align: center;
}
.pro__prize {
    display: flex;
    justify-content: center;
    margin: 7px 0 0 0 !important;
}
.product__details h2 {
    color: #777777;
    font-size: 17px;
    text-transform: capitalize;
}
.pro__prize li {
    color: #313131;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.pro__prize li.old__prize {
    color: #888888;
    font-weight: 400;
    padding-right: 12px;
}
.htc__product__area {
    padding-top: 60px;
}
/*----------------------------------
  Show More Button
-------------------------------------*/


.ht__show__more__btn {
    text-align: center;
}
.ht__show__more__btn a {
    color: #313131;
    display: inline-block;
    font-size: 18px;
    margin-top: 56px;
    padding-bottom: 10px;
    position: relative;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}
.ht__show__more__btn a::before {
    background: #333333 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
}
.ht__show__more__btn a:hover {
    color: #c991ba;
}
.ht__show__more__btn a:hover::before {
    background: #c991ba none repeat scroll 0 0;
}






/*---------------------------------------
  05. Testimonial Area
----------------------------------------*/


.ht__testimonial__activation {
    border: 1px solid #ebebeb;
    overflow: hidden;
    padding: 70px 105px;
}
.testimonial {
    display: flex;
}
.testimonial__thumb {
    margin-right: 38px;
    min-width: 88px;
    position: relative;
}
.testimonial__details h4 {
    color: #333333;
    font-size: 16px;
    text-transform: capitalize;
}
.testimonial__details p {
    margin-top: 9px;
}
.testimonial__thumb::before {
    background: #252525 none repeat scroll 0 0;
    bottom: -7px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 25px;
}
.testimonial__thumb img {
    width: 100%;
}
.quote {
    background: #c991ba none repeat scroll 0 0;
    border-radius: 100%;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: -9px;
    text-align: center;
    width: 30px;
    top: 0;
}
.quote img {
    width: auto;
    display: inline-block;
}
.ht__testimonial__activation .slick-prev,
.ht__testimonial__activation .slick-next {
  display: none !important;
}

.ht__testimonial__activation {
  margin-left: 20px;
  margin-right: 20px;
}



/*------------------------------
    Testimonial 2
-------------------------------*/


.testimonial__area.testimonial--2 {
    padding: 60px 102px 115px 65px;
}
.testimonial--2 .ht__test__title h2 {
    color: #212121;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.testimonial--2 .ht__test__title p {
    color: #666666;
    font-size: 18px;
    font-style: italic;
    margin-top: 8px;
}
.testimonial--2 .ht__test__title {
    margin-bottom: 58px;
}
.testimonial--2 .testimonial__activation--2 .testimonial + .testimonial {
    margin-top: 96px;
}
















/*---------------------------------------
  06. Blog Area
----------------------------------------*/


.htc__blog__area {
    padding-top: 63px;
}
.blog {
    align-items: center;
    display: flex;
    margin-top: 40px;
}
.blog__thumb {
    margin-right: 40px;
    min-width: 290px;
}
.ht__blog__wrap {
    margin-top: 30px;
}
.bl__date span {
    color: #777777;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
    position: relative;
}
.bl__date span::before {
    background: #000000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
.blog__details h2 {
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 22px;
}
.blog__details p {
    color: #777777;
    font-size: 17px;
    margin-bottom: 45px;
    margin-top: 26px;
}
.blog__btn a {
    border: 1px solid #c991ba;
    color: #c991ba;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    transition: all 0.4s ease 0s;
}
.blog__btn a i {
    padding-right: 9px;
}
.blog__btn a:hover {
    background: #c991ba none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #fff;
}

/*---------------------------------------
  07. Brand Area
----------------------------------------*/

.brand__list {
    display: flex;
    justify-content: space-between;
}
.ht__brand__inner {
    border: 1px solid #ebebeb;
    padding: 50px 80px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}
.owl-carousel .owl-item img {
  width: auto;
}

/*---------------------------------------
  08. Banner Area
----------------------------------------*/













/*---------------------------------------
  09. Contact Area
----------------------------------------*/

#googleMap{
  width: 100%;
  height: 371px;
}

#googleMap2{
  width: 100%;
  height: 371px;
}





/*---------------------------------------
  10. Service Area
----------------------------------------*/

.htc__service__area {
    padding: 112px 0;
    position: relative;
}
.htc__service__area::before {
    background: #36b997 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 45%;
    width: 100%;
}
.service {
    text-align: center;
}
.service__icon i {
    color: #212121;
    font-size: 44px;
}
.service__details h2 {
    background: #c991ba none repeat scroll 0 0;
    color: #212121;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 14px;
    padding: 0 30px 23px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.service__details p {
    color: #212121;
    font-size: 16px;
    margin: 10px auto 0;
    width: 85%;
}
.service__details h2::before {
    background: #000000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 2px;
}
.service__details h2:hover a {
    color: #fff;
}
.service__details h2 a {
    transition: all 0.4s ease 0s;
}


/*--------------------------
    Service 2
---------------------------*/

.htc__service__area.service--2 {
  padding: 0;
}
.htc__service__area.service--2::before {
  display: none;
}
.service--2 .service {
  text-align: center;
  padding: 60px 30px;
}









/*---------------------------------------
  11. Promo Box Area
----------------------------------------*/




.htc__promo__thumb {
    padding-bottom: 175px;
    padding-top: 93px;
}
.htc__promo__text {
    padding-left: 258px;
}
/*------------------
  Promo Style 2
--------------------*/

.htc__promo__box [class*="col-"] {
  padding: 0px;
}

.promobox {
  overflow: hidden;
  position: relative;
}

.promobox:hover .promo__thumb img {
    transform: scale(1.2);
}
.promo__thumb img {
    transition: all 0.5s ease 0s;
}

.ht__promo__details {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.ht__promo__details h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 21px;
    padding-bottom: 9px;
    position: relative;
}
.ht__promo__details h2::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
.ht__promo__details h4 {
    color: #ffffff;
    font-family: 'Old Standard TT', serif;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
.ht__promo__details h4::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
}

/*-----------------------------
  Promo Style 3
----------------------------*/


.big__promo__inner {
  overflow: hidden;
  position: relative;
}
.big__promo__inner:hover .bg__promo__thumb img {
    transform: scale(1.2);
}
.bg__promo__thumb img {
    transition: all 0.5s ease 0s;
}
.big__promo__details {
    left: 94px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.big__promo__box {
    left: 100px;
    position: absolute;
    top: 70px;
}
.big__promo__details h4 span {
    color: #c991ba;
    display: block;
    font-family: 'Old Standard TT', serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}
.big__promo__details p span {
    color: #2e2e2e;
    display: block;
    font-size: 60px;
    font-weight: 700;
    line-height: 71px;
    text-transform: uppercase;
}
.big__promo__details p {
  left: 149%;
  position: absolute;
  top: 30%;
}
.promo__align--right .big__promo__box {
  right: 100px;
  left: auto;
}
/*-----------------------------
  Promo Style 4
----------------------------*/


.htc__promobox--5 {
    padding: 115px 0;
}
.ht__promo__inner h6 {
    color: #c991ba;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.ht__promo__inner h2 {
    color: #343434;
    display: inline-block;
    font-size: 38px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.ht__promo__inner h4 {
    color: #000000;
    display: inline-block;
    font-family: 'Old Standard TT', serif;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}

.ht__promo__inner h2::before {
    background: #343434 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
}
.ht__promo__inner h4::before {
    background: #000000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
}


















/*---------------------------------------
  12. About Area
----------------------------------------*/


.htc__about__thumb {
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.about {
    padding: 120px 0;
}
.ht__about__inner h2 {
    color: #c991ba;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
}
.ht__about__inner h4 {
    color: #b3b3b3;
    font-family: 'Old Standard TT', serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 40px;
    position: relative;
    z-index: 1;
}
.ht__about__details p {
    color: #222222;
    font-size: 17px;
    line-height: 26px;
}
.ht__about__details p + p {
    margin-top: 17px;
}
.ht__about__details {
    margin-top: 27px;
}
.ht__about__btn {
    margin-top: 23px;
}
.ht__about__btn a {
    background: #c991ba none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #ffffff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    line-height: 40px;
    padding: 0 28px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.ht__about__btn a:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #c991ba;
}

.ht__about__inner h2 span {
    color: #222222;
    position: relative;
}
.ht__about__inner h2 span::before {
    background: #000 none repeat scroll 0 0;
    bottom: 9px;
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
}


/*---------------------------------------
  13. Best Sell Product
----------------------------------------*/



.ht__bann__details {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.ht__bann__details p span {
    color: #fff;
    font-size: 64px;
    line-height: 77px;
    position: relative;
}
.ht__bann__details p span.theme-color {
    color: #c991ba;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    margin-bottom: 19px;
}
.ht__bann__details p span::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
}
.ht__bann__details p span.theme-color::before {
    background: #4dd2b1 none repeat scroll 0 0;
}

.banner--2 {
    position: relative;
    overflow: hidden;
}
.banner--2::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 386px;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(24deg);
    transition: all 0.3s ease 0s;
    width: 1px;
}

.ht__bnn__thumb {
    overflow: hidden;
}
.ht__bnn__thumb:hover img {
    transform: scale(1.2);
}
.ht__bnn__thumb img {
    transition: all 0.5s ease 0s;
}

.htc__best__product {
    display: flex;
    margin-top: 40px;
}
.section__title--bst {
    text-align: center;
}
.section__title--bst h2 {
    background: #fff none repeat scroll 0 0;
    color: #333333;
    display: block;
    font-size: 26px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.section__title--bst h2::before {
    background: #464646 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    z-index: -1;
}
.section__title--bst h2::after {
    background: #464646 none repeat scroll 0 0;
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
}
.section__title--bst p {
    color: #777777;
    font-size: 16px;
    margin-top: 8px;
}
.htc__best__pro__thumb {
    margin-right: 30px;
    min-width: 180px;
}
.htc__best__product__details h2 {
    color: #777777;
    font-family: 'Old Standard TT', serif;
    font-size: 17px;
    margin-bottom: 17px;
}
.rating {
    display: flex;
}
.rating li i {
    color: #c991ba;
    font-size: 15px;
}
.rating li + li {
    margin-left: 4px;
}
.rating li.old i {
    color: #777777;
}
.htc__best__sell__wrap .pro__prize {
  justify-content: flex-start;
  margin-top: 13px;
}
.htc__best__sell__wrap .product__action {
  justify-content: flex-start;
}
.htc__best__sell__wrap .product__action li a {
  background: #f6f6f6;
}
.htc__best__sell__wrap .product__action li a:hover {
  background: #c991ba;
  color: #fff;
}
.htc__best__sell__wrap .best__product__action {
  margin-top: 33px;
}




/*---------------------------------------
  14. Intractive Banner Area
----------------------------------------*/

.htc__inatractive__banner [class*="col-"] {
  padding: 0px;
}

.ht__intrac__details {
    left: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.ht__intrac__details h6 {
    color: #b7b7b7;
    font-size: 15px;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.ht__intrac__details h1 {
    color: #ffffff;
    font-family: 'Old Standard TT', serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 91px;
    margin-top: 17px;
    text-transform: uppercase;
}
.ht__intrac__btn a {
    background: #fff none repeat scroll 0 0;
    color: #222222;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.ht__intrac__btn {
    margin-top: 72px;
}
.ht__intrac__btn a:hover {
    background: #c991ba none repeat scroll 0 0;
    color: #fff;
}
.ht__intrac__details::before {
    background: #c991ba none repeat scroll 0 0;
    content: "";
    height: 386px;
    left: 50%;
    position: absolute;
    top: -45px;
    transform: rotate(29deg);
    width: 1px;
}


/*------------------------------
    Intractive Banner Style 2
---------------------------------*/

.inc__banner--2 .ht__intrac__details {
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}
.inc__banner--2 .ht__intrac__details h6 {
    color: #ffffff;
    font-family: 'Old Standard TT', serif;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.inc__banner--2 .ht__intrac__details::before {
    display: none;
}
.inc__banner--2 .ht__intrac__details h2 {
    color: #ffffff;
    font-size: 112px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 88px;
}
.inc__banner--2 .ht__intrac__details span {
    display: block;
    text-align: left;
}



/*---------------------------------------
  15. Fashion Icon Area
----------------------------------------*/




.htc__fashion__icon {
    padding: 211px 0;
}
.htc__fashion__icon__inner {
    text-align: center;
}
.htc__fashion__icon__inner h2 {
    color: #c991ba;
    display: inline-block;
    font-size: 48px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.htc__fashion__icon__inner h2::before {
    background: #c991ba none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
}
.ht__fson__btn a {
    background: #212121 none repeat scroll 0 0;
    color: #c991ba;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 0 26px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.ht__fson__btn a i {
    padding-right: 9px;
}
.ht__fson__btn a:hover {
    background: #c991ba none repeat scroll 0 0;
    color: #fff;
}





/*------------------------------
  16. Bradcaump Area
--------------------------------*/

.ht__bradcaump__wrap {
    align-items: center;
    display: flex;
    height: 270px;
}
.breadcrumb-item {
  color: #3f3f3f;
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.bradcaump-inner a.breadcrumb-item {
  font-weight: 500;
}
.brd-separetor {
  padding: 0 7px;
}
.bradcaump-inner {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 26px;
}
.brd-separetor i {
  font-size: 14px;
  color: #3f3f3f;
}














/*------------------------------
  17. Product Sibebar Area
--------------------------------*/

.single-grid-view.tab-pane:not(.active) {
    display: none;
}

.htc__grid__top {
    display: flex;
    justify-content: space-between;
}
.htc__select__option {
    display: flex;
}
.view__mode {
    display: flex;
}
.view__mode li a i {
    background: #f7f6f8 none repeat scroll 0 0;
    color: #3f3f3f;
    display: inline-block;
    font-size: 19px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 42px;
}
.view__mode li + li {
    margin-left: 5px;
}
.view__mode li a:hover i {
    color: #c991ba;
}
.ht__pro__qun span {
    color: #3f3f3f;
    font-size: 16px;
}
.htc__select__option .ht__select + .ht__select {
    margin-left: 20px;
}

.view__mode li.active a i {
    color: #c991ba;
}
.title__line--3 {
    color: #3f3f3f;
    font-size: 24px;
    padding-bottom: 12px;
    position: relative;
    text-transform: uppercase;
}
.title__line--3::before {
    background: rgba(0, 0, 0, 0) url("img/others/shape/5.png") no-repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
}
.htc__category {
    margin-top: 40px;
}
.title__line--4 {
    border-bottom: 1px solid #cfcfcf;
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.ht__cat__list li a {
    color: #666666;
    font-size: 16px;
    text-transform: capitalize;
}
.ht__cat__list li + li {
    padding-top: 11px;
}
.htc-grid-range {
    margin-top: 25px;
}
.ht__pro__color {
    margin-top: 36px;
}
.ht__color__list {
    display: flex;
}
.ht__pro__size {
    margin-top: 35px;
}
.ht__color__list li a {
    background: #000 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 36px;
    text-indent: -9999px;
    width: 36px;
}
.htc__product__leftsidebar .ht__color__list {display: block}
.ht__color__list li {display: inline-block; margin-bottom: 10px; margin-right: 7px}
/*.ht__color__list li + li {
    margin-left: 10px;
}*/
.ht__color__list li.grey a {
    background: #c5bdc1 none repeat scroll 0 0;
}
.ht__color__list li.blue a {
    background: #9ab6df none repeat scroll 0 0;
}
.ht__color__list li.lamon a {
    background: #c9dc2f  none repeat scroll 0 0;
}
.ht__color__list li.white a {
    background: #f4f4f4 none repeat scroll 0 0;
}
.ht__color__list li.red a {
    background: #de4057 none repeat scroll 0 0;
}
.ht__color__list li.black a {
    background: #000 none repeat scroll 0 0;
}
.ht__color__list li.pink a {
    background: #e4bfbc none repeat scroll 0 0;
}
.ht__color__list li.blush a {
    background:  #eed3d7 none repeat scroll 0 0;
}
.ht__color__list li.cream a {
    background:  #efe8e4 none repeat scroll 0 0;
}
.ht__color__list li.gold a {
    background: #ddb384 none repeat scroll 0 0;
}
.ht__color__list li.new-color a {
    background: #e42323 none repeat scroll 0 0;
}
.ht__color__list li.nude a {
    background: #f4dfd5 none repeat scroll 0 0;
}
.ht__color__list li.olive a {
    background: #635d4a none repeat scroll 0 0;
}
.ht__color__list li.peri-wrinkle a {
    background: #e8eef0 none repeat scroll 0 0;
}
.ht__color__list li.green a {
    background: #445e2b none repeat scroll 0 0;
}
.ht__color__list li.navy a {
    background: #344182 none repeat scroll 0 0;
}
.ht__color__list li.caramel a {
    background: #c4b2a7 none repeat scroll 0 0;
}
.ht__color__list li.yellow a {
    background: #f4dfd5 none repeat scroll 0 0;
}
.ht__color__list li.tiffany a {
    background: #458782 none repeat scroll 0 0;
}
.pro__color li.green-2 a {
    background: #458782 none repeat scroll 0 0;
}

.ht__color__list li.green-2 a {
    background: #458782 none repeat scroll 0 0;
}
.ht__size__list {
    display: flex;
}
.ht__size__list li a {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #797979;
    display: inline-block;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 45px;
    text-transform: capitalize;
}
.ht__size__list li + li {
    margin-left: 11px;
}
.ht__size__list li a:hover {
    background: #c991ba none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #fff;
}
.htc__tag {
    margin-top: 40px;
}
.ht__tag__list {
    display: flex;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.ht__tag__list li a {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #9f9f9f;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 10px;
    padding: 0 8px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}
.ht__tag__list li a:hover {
    border: 1px solid #362f2d;
    color: #362f2d;
}
.htc__compare__area {
    margin-top: 28px;
}
.htc__compare__list li a {
    color: #868686;
    font-size: 16px;
    line-height: 23px;
}
.htc__compare__list li + li {
    border-top: 1px solid #e1e1e1;
    padding: 10px 0;
}
.htc__compare__list li:last-child {
    border-bottom: 1px solid #e1e1e1;
}
.htc__compare__list li:first-child {
    padding-bottom: 10px;
}
.htc__compare__list li a i {
    float: right;
    transition: all 0.4s ease 0s;
}
.htc__compare__list li a:hover i {
    color: #ee393e;
}
.ht__com__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.htc__recent__product {
    margin-top: 57px;
}
.ht__com__btn li a {
    color: #ed1c24;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.ht__com__btn li.compare a {
    background: #555555 none repeat scroll 0 0;
    color: #fffefe;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
    transition: all 0.4s ease 0s;
}
.ht__com__btn li.compare a:hover {
    background: #c991ba none repeat scroll 0 0;
}
.htc__recent__product__inner .htc__best__pro__thumb {
    min-width: 100px;
}
.htc__recent__product__inner .pro__prize {
    justify-content: flex-start;
}
.htc__recent__product__inner .htc__best__product {
    margin-top: 30px;
}
.htc__recent__product__inner {
    margin-top: 41px;
}


.price--output > span {
  float: left;
  color: #666666;
  font-size: 14px;
}
.price--output > * {
  display: inline-block;
  float: left;
}
.price__output--wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.slider__range--output {
  margin-top: 18px;
}
.price--filter a {
  text-transform: uppercase;
  background: #333333;
  color: #fff;
  padding: 0 22px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s;
}
.price--output input {
  padding-left: 10px;
  width: 70%;
}
.price--output input {
  border: medium none;
}
.price--filter a:hover{
  background: #c991ba;
  color: #fff;
}





/*------------------------
  Shop List Sidebar
---------------------------*/

.ht__list__product {
    margin-top: 40px;
}
.ht__list__product {
    display: flex;
}
.ht__list__thumb {
    margin-right: 40px;
    min-width: 290px;
    max-width: 290px;
}
.ht__list__thumb img {
    width: 100%;
}
.htc__list__details h2 {
    color: #252525;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 23px;
    text-transform: uppercase;
}
.htc__list__details .pro__prize {
    justify-content: flex-start;
    margin-top: 10px;
}
.htc__list__details p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 37px;
    margin-top: 21px;
}
.htc__list__details .product__action {
    justify-content: flex-start;
}
.ht__list__product .product__action li a {
    background: #f6f6f6 none repeat scroll 0 0;
}
.ht__list__product .product__action li + li {
    margin-left: 30px;
}
.ht__list__product .product__action li.ht__addto__cart a {
    background: #c991ba none repeat scroll 0 0;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    padding: 0 17px 0 0;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    width: auto;
}
.ht__list__product .product__action li.ht__addto__cart a i {
    background: #c991ba none repeat scroll 0 0;
    border-right: 1px solid #fff;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 45px;
    margin: 0 17px 0 auto;
    position: relative;
    width: 50px;
}

.ht__list__product .product__action li.ht__addto__cart a:hover,
.ht__list__product .product__action li.ht__addto__cart a.active {
    background: #212121 none repeat scroll 0 0;
}
.ht__list__product .product__action li.ht__addto__cart a.active:hover{
    background: #c991ba;
}
.ht__list__product .product__action li a:hover {
  background: #c991ba;
  color: #fff;
}


.ui-widget.ui-widget-content {
  background: #c991ba none repeat scroll 0 0;
  border: 1px solid transparent;
  height: 5px;
}
.ui-slider .ui-slider-handle {
  cursor: default;
  height: 14px;
  position: absolute;
  touch-action: none;
  width: 14px;
  z-index: 2;
  border-radius: 100%;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -6px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: #333333 none repeat scroll 0 0;
  border: 1px solid #333333;
  color: #333333;
}
.ui-slider-horizontal .ui-slider-range {
  height: 100%;
  top: -1px;
  background: #333333;
  height: 6px;

}
select.ht__select {
    background-color: #f7f6f8;
    border: 0 none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background-image: url("img/icons/select-option.png");
    background-position: right 7% center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 32px 0 15px;
    background-size: 14px;
    height: 35px;
    color: #3f3f3f;
}












/*------------------------------
  18. Product Details
--------------------------------*/

.pro__single__content.tab-pane:not(.active) {
    display: none;
}

/*.product__small__images {
    bottom: 35px;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}*/
.product__small__images {
    position: static;
    display: block;
    transform: initial;
    margin-top: 15px;
}
.htc__product__details__tab__content {
    position: relative;
}
.product__small__images li {
    border: 1px solid #fff;
    margin: 0 8px;
    transition: all 0.4s ease 0s;
}
.product__small__images li.active {
    border: 1px solid #c991ba;
}
.product__small__images li:hover {
    border: 1px solid #c991ba;
}
.ht__product__dtl h2 {
    color: #252525;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.ht__product__dtl h6 {
    color: #100d13;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 11px;
    margin-bottom: 11px;
}
.ht__product__dtl h6 span {
    color: #868686;
    font-size: 15px;
    text-transform: uppercase;
}
.ht__product__dtl .pro__prize {
    justify-content: flex-start;
}
.ht__product__dtl p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
}
.sin__desc p {
  color: #868686;
  display: inline-block;
  font-family: 'Old Standard TT', serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
}
.sin__desc p span {
    color: #100d13;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}
.pro__color {
  display: flex;
  margin-left: 10px;
}
.sin__desc.align--left {
    align-items: center;
    display: flex;
    margin-top: 21px;
}
.pro__color li a {
    background: #000 none repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    text-indent: -999999px;
    width: 20px;
}
.pro__color li + li {
    margin-left: 10px;
}
.pro__more__btn {
    margin-left: 10px;
}
.pro__more__btn a {
    border: 1px solid #d7d7d7;
    color: #212121;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 19px;
    padding: 0 8px;
    text-transform: uppercase;
}
.ht__pro__desc {
    margin-top: 25px;
}

.pro__cat__list {
    display: flex;
    margin-left: 10px;
}
.pro__share {
    display: flex;
    margin-top: 16px;
}

.pro__color li.red a {
    background: #de4057 none repeat scroll 0 0;
}
.pro__color li.green a {
    background: #445e2b none repeat scroll 0 0;
}
.pro__color li.green-2 a {
    background: #458782 none repeat scroll 0 0;
}
.pro__color li.black a {
    background: #000 none repeat scroll 0 0;
}
.pro__color li.blue a {
    background: #9ab6df none repeat scroll 0 0;
}
.pro__color li.yellow a {
    background: yellow none repeat scroll 0 0;
}
.pro__color li.pink a {
    background: #e4bfbc none repeat scroll 0 0;
}
.pro__color li.grey a {
    background: #c5bdc1 none repeat scroll 0 0;
}
.pro__color li.gold a {
    background: #ddb384 none repeat scroll 0 0;
}
.pro__color li.olive a {
    background: #635d4a none repeat scroll 0 0;
}
.pro__color li.peri-wrinkle a {
    background: #e8eef0 none repeat scroll 0 0;
}
.pro__color li.nude a {
    background: #f4dfd5 none repeat scroll 0 0;
}
.pro__color li.caramel a {
    background: #c4b2a7 none repeat scroll 0 0;
}
.pro__color li.blush a {
    background: #eed3d7 none repeat scroll 0 0;
}
.pro__color li.navi a {
    background: #344182 none repeat scroll 0 0;
}
.pro__color li.white a {
    background: #f4f4f4 none repeat scroll 0 0;
}
.pro__color li.cream a {
    background: #efe8e4 none repeat scroll 0 0;
}
.pro__color li.yellow a {
    background: #f4dfd5 none repeat scroll 0 0;
}
.pro__color li.tiffany a {
    background: #458782 none repeat scroll 0 0;
}
.pro__cat__list li a {
    color: #666666;
    font-size: 16px;
    transition: 0.3s;
}
.pro__cat__list li a:hover{
    color: #c991ba;
}
.pro__cat__list li + li {
    padding-left: 7px;
}
.pro__share li a {
    border-radius: 100%;
    color: #212121;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 36px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 32px;
}
.pro__share li a:hover {
    background: #c991ba none repeat scroll 0 0;
    color: #fff;
}
.pro__share li + li {
    margin-left: 9px;
}
.sin__desc.product__share__link {
  margin-top: 18px;
}

.sin__desc.product__share__link {
    margin-top: 18px;
}
.pro__details__tab {
    align-items: center;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-bottom: 28px;
}
.pro__details__tab li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.pro__details__tab li a {
    color: #9f9f9f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.pro__details__tab li + li {
    border-left: 1px solid #e1e1e1;
}
.pro__details__tab li:last-child {
    border-right: 1px solid #e1e1e1;
}
.pro__details__tab li.active a {
    color: #333333;
}
.pro__details__tab li a:hover {
    color: #333333;
}
.pro__tab__content__inner p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
}
.pro__tab__content__inner h4.ht__pro__title {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 17px;
    margin-top: 30px;
    text-transform: capitalize;
}
.pro__tab__content__inner p + p {
    margin-top: 32px;
}
.ht__pro__details__content {
    padding-bottom: 109px;
}
select.select__size {
  border: 1px solid #afafaf;
  color: #afafaf;
  height: 20px;
  margin-left: 10px;
  width: 41px;
  padding: 0 4px;
}

select.select__size {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: rgba(0, 0, 0, 0) url("img/icons/select-option.png") no-repeat scroll 87% 7px / 10px 5px;
    padding-right: 16px;
}






























/*---------------------------------------
  19. Our Cart Area
----------------------------------------*/

.cart-title-area{
    padding-top: 30px;
}
.car-header-title h2{
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}
.table-content table{
    background: #fff none repeat scroll 0 0;
    border-color: #c1c1c1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
}
.table-content table th {
    border-top: medium none;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.table-content table th,.table-content table td{
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}
.table-content table td{
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;font-size: 13px;
}
.table-content table td input{
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
.table-content table td.product-subtotal {
  color: #313131;
  font-size: 14px;
  width: 120px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.table-content table td.product-name a {
    color: #777777;
    font-size: 17px;
    text-transform: capitalize;
}
.table-content table td.product-name{
    width: 270px;
}
.table-content table td.product-thumbnail{
    width: 130px;
}
.table-content table td.product_remove i {
    color: #212121;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.table-content table .product-price .amount {
  color: #313131;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-weight: 600;
}
.table-content table td.product-remove i:hover {
  color: #ee393e;
}
.table-content table td.product-quantity{
    width: 180px;
}
.table-content table td.product-remove{
    width: 150px;
}
.table-content table td.product-price{
    width: 130px;
}
.table-content table td.product-name a:hover,.buttons-cart a:hover{
    color: #c991ba
}
.buttons-cart a {
  background: #ebebeb none repeat scroll 0 0;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 62px;
  line-height: 62px;
  padding: 0 45px;
  text-transform: uppercase;
  display: inline-block;
}
.buttons-cart input,
.coupon input[type="submit"],
.coupon-info p.form-row input[type="submit"] {
    background: #252525 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}
.buttons-cart input:hover,
.coupon input[type=submit]:hover,
.buttons-cart a:hover{
    background:#212121;
    color:#fff !important;
}
.buttons-cart--inner {
  display: flex;
  justify-content: space-between;
}
.buttons-cart a + a {
  margin-left: 20px;
}
.coupon {
    margin-bottom: 40px;
    overflow: hidden;
    padding-bottom: 20px;
}
.coupon h3{
    margin: 0 0 10px;font-size: 14px;
    text-transform: uppercase;
}
.coupon input[type=text]{
    border: 1px solid #c1c1c1;
    float: left;
    height: 40px;
    margin: 0 6px 20px 0;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 170px;
}
.cart_totals{
    float: left;
    text-align: right;
    width: 100%;
}
.cart_totals h2{
    border-bottom: 2px solid #c1c1c1;
    display: inline-block;
    font-size: 30px;
    margin: 0 0 35px;
    text-transform: uppercase;
}
.cart_totals table{
    border: medium none;
    float: right;
    margin: 0;
    text-align: right;
}
.cart_totals table th{
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px 12px 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
}
.cart_totals table td{
    border: medium none;
    padding: 0 0 12px;
    vertical-align: top;
}
.cart_totals table td .amount {
    color: #252525;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    text-align: right;
    text-transform: uppercase;
}
.cart_totals table td ul#shipping_method{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.cart_totals table td ul#shipping_method li{
    float: left;
    margin: 0 0 10px;
    padding: 0;
    text-indent: 0;
    width: 100%;
}
.cart_totals table td ul#shipping_method li input{
    margin: 0;
    position: relative;
    top: 2px;
}
a.shipping-calculator-button{
    font-weight: bold;
    color: #6f6f6f;
}
a.shipping-calculator-button:hover{
    color:#ff4136
}
.cart_totals table tr.order-total th,
.cart_totals table tr.order-total .amount{
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}
.wc-proceed-to-checkout a{
    background: #252525 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 0 30px;
    text-transform: none;
}
.wc-proceed-to-checkout a:hover{
    background: #ff4136;
    color: #fff !important;
}
.owl-theme .owl-controls .owl-page span {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    border-radius: 100%;
    display: block;
    height: 13px;
    margin: 3px;
    width: 13px;
    transition: 0.3s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    border: 2px solid #c1c1c1;
}
.slider-area.slider-v4 {
    margin: 30px 0 35px 0;
}
.coupon p {
    margin-bottom: 12px;
}

.buttons-cart--inner {
    margin-bottom: 70px;
}
.ht__coupon__code {
    background: #ebebeb none repeat scroll 0 0;
    padding: 54px 70px;
}
.ht__coupon__code span {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.coupon__box {
    margin-top: 19px;
    position: relative;
}
.coupon__box input {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    height: 56px;
    padding: 0 30px;
}
.ht__cp__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.ht__cp__btn a {
    background: #212121 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 56px;
    line-height: 56px;
    padding: 0 27px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.ht__cp__btn a:hover {
    background: #c991ba none repeat scroll 0 0;
}
.htc__cart__total h6 {
    background: #c991ba none repeat scroll 0 0;
    font-size: 14px;
    font-weight: 500;
    height: 67px;
    line-height: 65px;
    padding: 0 32px;
    text-transform: uppercase;
}
.cart__total {
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}
.cart__total span {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.payment__btn {
    margin-top: 54px;
}
.payment__btn li a {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.payment__btn li + li {
    margin-top: 15px;
}
.payment__btn li a:hover,
.payment__btn li.active a {
    background: #212121 none repeat scroll 0 0;
    color: #fff;
}
.payment__btn li.active a:hover{
  background: #ebebeb;
  color: #3f3f3f;
}
.htc__cart__total {
    padding-left: 110px;
}

.cart__desk__list {
    display: flex;
    justify-content: space-between;
}
.cart__desc li {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.cart__desk__list {
    margin-bottom: 33px;
    margin-top: 38px;
}
.cart__desc li + li {
    padding-top: 18px;
}
.cart__price li + li {
    padding-top: 18px;
}
.cart__price li {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.product-name .pro__prize {
  margin-top: 4px;
}


/*---------------------------------------
  20. Our Blog Page
----------------------------------------*/


.blog--page .blog__thumb {
    position: relative;
}
.bl_hover {
    bottom: 0;
    left: 0;
    position: absolute;
}
.bl_hover span {
    background: rgba(63, 217, 178, 0.86) none repeat scroll 0 0;
    color: #212121;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    text-transform: uppercase;
}
.ht__blog__meta {
    display: flex;
}
.ht__blog__meta li i {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 100%;
    color: #212121;
    display: inline-block;
    font-size: 15px;
    height: 35px;
    line-height: 34px;
    margin-right: 14px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 35px;
}
.ht__blog__meta li + li {
    margin-left: 18px;
}
.ht__blog__meta li {
    color: #666666;
    font-size: 15px;
    font-style: italic;
}
.ht__blog__meta {
    margin-top: 23px;
}
.ht__blog__meta li:hover i {
    color: #4bdbb6;
}
.blog--page .blog__details p {
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  margin-top: 23px;
  width: 93%;
}
.blog--page .blog__details h2 {
    color: #000000;
    font-weight: 600;
    line-height: 33px;
    margin-top: 0;
}
.blog--page{
    margin-top: -50px;
}
.blog--page .blog {
  margin-top: 50px;
}






/*---------------------------------------
  21. Our Pagination
----------------------------------------*/
.page-numbers {border: 0 !important;}
ul.page-numbers {margin-top: 60px !important}
.htc__pagenation, .page-numbers {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.htc__pagenation li a, .page-numbers li a, .woocommerce nav.woocommerce-pagination ul li span.current{
    background: #f6f6f6 none repeat scroll 0 0 !important;
    border: 1px solid #f6f6f6 !important;
    color: #3f3f3f !important;
    display: inline-block !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    height: 45px !important;
    line-height: 35px !important;
    text-align: center !important;
    transition: all 0.3s ease 0s !important;
    width: 45px !important;
    border: 0 !important;
}
.woocommerce nav.woocommerce-pagination ul li span.current, .page-numbers li a:hover {
    border: 1px solid #c991ba !important; 
}
.htc__pagenation li, .page-numbers li {
    margin: 0 5px !important;
    border: 0 !important;
}
.htc__pagenation li.active a, .page-numbers li.active a {
    background: #c991ba none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #fff;
}
.htc__pagenation li a:hover, .page-numbers li a:hover {
    border: 1px solid #c991ba;
}

/*---------------------------------------
  22. Our Blog Details
----------------------------------------*/


.htc__blog__details__wrap span.ht__fashion__show {
    color: #c991ba;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.htc__blog__details__wrap h2 {
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 5px;
    width: 86%;
}
.htc__blog__details__wrap ul.ht__blog__meta {
    margin-bottom: 44px;
    margin-top: 19px;
}
.bl__dtl p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
}
.bl__dtl {
    padding-top: 46px;
}
.title__line--5 {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 39px;
}
.bl__dtl p + p {
    margin-top: 26px;
}
.ht__comment__form__inner {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}
.comment__form {
    padding: 0 20px;
    width: 50%;
}
.comment__form input {
    border: 1px solid #e2e2e2;
    color: #666666;
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
}
.comment__form input + input {
    margin-top: 20px;
}
.comment__form.message textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    min-height: 160px;
    padding: 10px 20px;
}
.ht__comment__btn {
    margin-top: 30px;
}
.ht__comment__btn a {
    background: #c991ba none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #212121;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.ht__comment__btn a i {
    padding-right: 10px;
}
.ht__comment__btn a:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #c991ba;
}
.comment__thumb {
    float: left;
    margin-right: 40px;
    min-width: 70px;
}
.ht__comment__title {
    display: flex;
    justify-content: space-between;
}
.ht__comment__details {
    overflow: hidden;
}
.ht__comment__title h2 {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    margin: 0;
    text-transform: uppercase;
}
.ht__comment__details span {
    color: #949494;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.ht__comment__details p {
    color: #333333;
    font-size: 16px;
}
.reply__btn a {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 4px;
    color: #333333;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.reply__btn a:hover {
    background: #c991ba none repeat scroll 0 0;
    color: #fff;
}
.comment.comment--reply {
    margin-bottom: 47px;
    margin-left: 110px;
    margin-top: 47px;
}





/*---------------------------------------
  23. Our Contact Area
----------------------------------------*/


.ht__bradcaump__area.bradcaump--2 {
  position: relative;
}
.bradcaump--2 .ht__bradcaump__wrap {
  height: auto;
  position: absolute;
  left: 320px;
  top: 113px;
}
.bradcaump--2 #googleMap {
  height: 670px;
}
.address {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 50px 0;
    text-align: center;
}
.address__icon i {
    color: #c991ba;
    font-size: 36px;
}
.address__details h2 {
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
}
.address__details p {
    color: #666666;
    font-size: 16px;
    margin-top: 10px;
}
.address--2 {
    background: #f5f5f5 none repeat scroll 0 0;
    text-align: center;
}
.address--2 p a {
    color: #4d4d4d;
    font-size: 14px;
}
.address--2 p a i {
    color: #c991ba;
    font-size: 18px;
    padding-right: 9px;
}
.address--2 p {
    padding: 41px 0;
}
.address--2 p + p {
    border-top: 1px solid #ffffff;
}
.title__line--6 {
    color: #4d4d4d;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 60px;
}

.contact-box input {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 0 none;
    color: #666666;
    font-size: 16px;
    height: 62px;
    padding: 0 47px;
}
.single-contact-form + .single-contact-form {
    margin-top: 30px;
}

.contact-box.message textarea {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 0 none;
    color: #666666;
    font-size: 16px;
    min-height: 220px;
    padding: 18px 47px;
}
.contact-btn {
    margin-top: 32px;
}
.fv-btn {
    background: #c991ba none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #212121;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.fv-btn:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c991ba;
    color: #c991ba;
}
.fv-btn i {
    padding-right: 9px;
}
.contact-box.name {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}
.contact-box.name input {
    margin: 0 20px;
    width: 50%;
}




/*---------------------------------------
  24. Our Wishlist Area
----------------------------------------*/
.wishlist-table table {
    background: #fff none repeat scroll 0 0;
    border-color: #c1c1c1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    width: 100%;
}
.wishlist-table table th {
    font-weight: 600;
} 
.wishlist-table table th, .wishlist-table table td {
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    color: #767676;
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #313131;
    font-weight: 500;
}
.wishlist-table table .product-remove {
    padding: 0 15px;
    width: 20px;
}
.wishlist-table table .product-remove > a, 
.table-content table .product-remove > a {
    font-size: 25px;
}
.wishlist-table table .product-thumbnail {
    width: 150px;
}
.wishlist-table table td.product-price .amount {
    font-weight: 700;
}
.wishlist-table table .wishlist-in-stock {
    color: #767676;
}
.wishlist-table table .product-add-to-cart > a {
    background: #252525 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px 56px;
    text-transform: uppercase;
    width: 260px;
}
.wishlist-table table .product-add-to-cart > a:hover{
    background: #c991ba;
    color: #fff;
}
.wishlist-table table .product-add-to-cart {
    width: 240px;
}
.wishlist-share {
    margin-bottom: 35px;
    margin-top: 20px;
}
.wishlist-share ul li {
    display: inline-block;
    height: 21px;
    margin-left: 0;
    margin-right: 0;
}
.wishlist-share ul li a{background-position: left top;
    border: medium none;
    display: inline-block;
    height: 21px;
    width: 21px;
}
.wishlist-share ul li a:hover{
    background-position: left bottom;
}
.wishlist-share .social-icon ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
















/*---------------------------------
  Owl Acctivation Style
-----------------------------------*/


.activation__style--1 [class*="col-"] {
  width: 100%;
}

.activation__style--1.owl-theme .owl-nav {
  margin-top: 28px;
}
.activation__style--1.owl-theme .owl-nav [class*="owl-"] {
  background: #fff none repeat scroll 0 0;
  border-radius: 0px;
  color: #ebebeb;
  font-size: 38px;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}
.activation__style--1.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #40d9b2 !important;
}
.activation__style--1{
    position: relative;
}
.activation__style--1 .owl-nav div {
  position: absolute;
  right: 79px;
  top: -18.5%;
}
.activation__style--1 .owl-nav div.owl-next {
  left: auto;
  right: 20px;
}
.activation__style--1 .owl-nav div.owl-next:before {
  background: #222;
  position: absolute;
  content: "";
  height: 18px;
  width: 3px;
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
}












/* Banner With Pointer */

.banner__info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}
.pointer__tooltip{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 5px solid #c991ba;
  background-color: #fff;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.pointer__tooltip:before{
  content: "\f129";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: FontAwesome;
  color: #c991ba;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
.prize__inner {
    position: relative;
}
.pointer__tooltip.pointer--1 {
    position: absolute;
    left: 64%;
    top: 9%;
}
.pointer__tooltip.pointer--2 {
    position: absolute;
    left: 72%;
    top: 52%;
}
.pointer__tooltip.pointer--3 {
    left: 38%;
    top: 6%;
}

.pointer__tooltip.pointer--4.align-top {
    top: 40%;
    left: 21%;
}

.pointer__tooltip.pointer--5.align-bottom {
    top: 55%;
    left: 50%;
}


.pointer__tooltip.pointer--6 {
  left: 16%;
  top: 19%;
}
.pointer__tooltip.pointer--7 {
  left: 76%;
  top: 31%;
  position: absolute;
}
.pointer__tooltip.pointer--8 {
  left: 53%;
  position: absolute;
  top: 37%;
}
.pointer__tooltip.pointer--9 {
  left: 17%;
  position: absolute;
  top: 40%;
}
.pointer__tooltip.pointer--10 {
  left: 36%;
  position: absolute;
  top: 59%;
}
.pointer__tooltip.pointer--11 {
  left: 80%;
  position: absolute;
  top: 63%;
}
.pointer__tooltip.pointer--12 {
  left: 140%;
  position: absolute;
  top: 62%;
}
.pointer__tooltip.pointer--13 {
  left: 196%;
  position: absolute;
  top: -42%;
}
.pointer__tooltip.pointer--14 {
  left: 227%;
  top: -1%;
  position: absolute;
}
.pointer__tooltip.pointer--15.align-top {
  left: 206%;
  top: 107%;
  position: absolute;
}






.tooltip__box {
    background: #fff;
    width: 240px;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate3d(50%,-100%,0);
    transform: translate3d(50%,-100%,0);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s cubic-bezier(0,0,.2,1);
    transition: all .3s cubic-bezier(0,0,.2,1);
    z-index: 10;
    padding: 20px;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
    text-align: center;
}
.pointer__tooltip:hover .tooltip__box{
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(-110%) translateX(50%);
    transform: translateY(-110%) translateX(50%);
}

.pointer__tooltip.align-right .tooltip__box {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%) translateX(100%);
    transform: translateY(-50%) translateX(100%);
}
.pointer__tooltip.align-right:hover .tooltip__box{
    -webkit-transform: translateY(-50%) translateX(110%);
    transform: translateY(-50%) translateX(110%);
}


.pointer__tooltip.align-left .tooltip__box {
    position: absolute;
    top: 50%;
    right: auto;
    left: 0;
    -webkit-transform: translateY(-50%) translateX(-100%);
    transform: translateY(-50%) translateX(-100%);
}

.pointer__tooltip.align-left:hover .tooltip__box{
    -webkit-transform: translateY(-50%) translateX(-110%);
    transform: translateY(-50%) translateX(-110%);
}

.pointer__tooltip.align-bottom .tooltip__box {
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    -webkit-transform: translateY(100%) translateX(50%);
    transform: translateY(100%) translateX(50%);
}

.pointer__tooltip.align-bottom:hover .tooltip__box{
    -webkit-transform: translateY(110%) translateX(50%);
    transform: translateY(110%) translateX(50%);
}


.pointer__tooltip .tooltip__box h4, 
.pointer__tooltip .tooltip__box p  {
    opacity: 0;
    -webkit-transition: all .45s cubic-bezier(0,0,.2,1);
    transition: all .45s cubic-bezier(0,0,.2,1);
}

.pointer__tooltip:hover .tooltip__box h4, 
.pointer__tooltip:hover .tooltip__box p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
}
.pointer__tooltip .tooltip__box h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 12px;

}
.pointer__tooltip .tooltip__box p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;    
    color: #737373;
}











/* Instagram Post */

ul.htc__instagram__posts.owl-carousel li a {
    display: block;
}

ul.htc__instagram__posts.owl-carousel li img {
    width: 100%;
    display: block;
}

.htc__instagram__area ul li a{
    position: relative;
}

.htc__instagram__area ul li a:before{
    position: absolute;
    content: "";
    left: 0;
    background-color: #c991ba;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease 0s;
}
.htc__instagram__area ul li a:hover:before{
    opacity: .7;
}
.htc__instagram__area ul li a i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    opacity: 0;
    transition: all .3s ease 0s;
    z-index: 99;
    
}
.htc__instagram__area ul li:hover i{
    opacity: 1;
}


/*Accordion styles*/
.accordion .accordion__title{
  background: #f4f4f4;
  height: 65px;
  line-height: 65px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Poppins";
  cursor: pointer;
}
.accordion .accordion__title:before{
  content: "\f278";
  font-family: 'Material-Design-Iconic-Font';
  display: inline-block;
  padding-right: 10px;
  transition: all 0.3s ease-in-out 0s;
}
.accordion .accordion__title.active:before{
  content: "\f273";
}
.accordion .accordion__body{
  padding-top: 20px;
  padding-bottom: 30px;
}


/*Accordion body form styles*/
.accordion__body__form{
  font-family: "Poppins";
}
.accordion__body__form .checkout-method__subtitle{
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #8c8c8c;
  font-family: 'OldStandardTT';
}
.accordion__body__form .checkout-method__title{
  font-size: 14px;
  color: #3f3f3f;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 15px; 
}
.accordion__body__form .checkout-method .checkout-method__title{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
   color: #000;
   font-size: 16px;
}
.accordion__body__form .checkout-method .checkout-method__title i.zmdi{
   padding-right: 13px;
   font-size: 24px;
   line-height: 24px;
}
.accordion__body__form .checkout-method .checkout-method__single{
  margin-bottom: 40px;
}
.accordion__body__form .checkout-method .checkout-method__single:last-child{
  margin-bottom: 0px;
}
.accordion__body__form .checkout-method .checkout-method__single .single-input{
  margin-left: 20px;
}
.accordion__body__form .checkout-method .checkout-method__single .single-input label{
  font-weight: 500;
  color: #000;
}
.accordion__body__form .checkout-method .checkout-method__single .single-input input[type="radio"]{
  margin-right: 10px;
}
.accordion__body .checkout-method__login p.require{
  color: #f10;
  letter-spacing: 1px;
}
.accordion__body .checkout-method__login .single-input{
  margin-bottom: 20px;
}
.accordion__body .checkout-method__login .single-input label{
  font-weight: 500;
  color: #000;
}
.accordion__body .checkout-method__login .single-input label:before{
  content: "*";
  padding-right: 15px;
  color: #c2a476;
}
.accordion__body .checkout-method__login .single-input input{
  height: 32px;
  line-height: 32px;
  padding-left: 15px;
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
}
.accordion__body .checkout-method__login .single-input input:focus,
.accordion__body .checkout-method__login .single-input input:active{
  background: transparent;
  border: 1px solid #c991ba;
}
.accordion__body .checkout-method__login .dark-btn{
  margin-top: 20px;
}


/*Billing Info*/
.bilinfo .single-input,
.paymentinfo-credit-content .single-input,
.shipinfo .single-input{
  margin-top: 20px;
}
.bilinfo .single-input.mt-0,
.paymentinfo-credit-content .single-input.mt-0,
.shipinfo .single-input.mt-0{
  margin-top: 0px;
}
.bilinfo .single-input input,
.shipinfo .single-input input,
.paymentinfo-credit-content .single-input input,
.bilinfo .single-input select,
.paymentinfo-credit-content .single-input select,
.shipinfo .single-input select, .form-row .input-text, .woocommerce form .form-row .select2-container, .woocommerce form .form-row select {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-family: "poppins";
  transition: all 0.3s ease-in-out 0s;
  border: 1px solid #888;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {height: 40px; line-height: 40px; border: 0 !important}
.select2-container--default .select2-selection--single {border: 0; border-radius: 0; outline: none}
.woocommerce form .form-row {margin-bottom: 15px}
.bilinfo .single-input input:focus,
.shipinfo .single-input input:focus,
.paymentinfo-credit-content .single-input input:focus,
.bilinfo .single-input select:focus,
.shipinfo .single-input select:focus,
.paymentinfo-credit-content .single-input select:focus,
.bilinfo .single-input select:active,
.paymentinfo-credit-content .single-input select:active,
.shipinfo .single-input select:active{
  outline: none;
  border: 1px solid #c991ba;
}
/*Shipinfo*/
.shipinfo__title{
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}
.shipinfo p{
  font-family: "Poppins";
}
.shipinfo .ship-to-another-trigger{
  display: inline-block;
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 16px;
}
.shipinfo .ship-to-another-trigger i.zmdi{
  padding-right: 5px;
}

.ship-to-another-content{
  display: none;
  margin-top: 30px;
}


/*Ship method*/
.shipmethod .single-input{
  margin-top: 20px;
}
.shipmethod .single-input:first-child{
  margin-top: 0px;
}
.shipmethod .single-input label{
  font-family: "Poppins";
  color: #3333;
  font-weight: 500;
}
.paymentinfo .single-method a i.zmdi{
  padding-right: 5px;  
}
.paymentinfo .single-method a{
  display: inline-block;
  margin-top: 15px;
  font-family: "Poppins";
  font-size: 16px;
}

.paymentinfo-credit-content{
  margin-top: 30px;
  display: none;
}

/*Order details*/
.order-details{
  background: #f4f4f4;
}
.order-details .order-details__title{
  padding: 30px 0;
  margin: 0 15px;
  border-bottom: 1px solid #ebebeb;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 600;
  color: #3f3f3f;
}
.order-details .order-details__item{
  padding: 15px 0;
  margin: 0 30px;
  border-bottom: 1px solid #ebebeb;
}
.order-details .order-details__item .single-item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding: 5px;
}
.order-details .order-details__item .single-item .single-item__content{
  flex-grow: 2;
}
.order-details .order-details__item .single-item .single-item__content a{
  font-size: 16px;
  font-family: "OldStandardTT";
  letter-spacing: 1px;
  color: #666;
  transition: all 0.3s ease-in-out 0s;
}
.order-details .order-details__item .single-item .single-item__content a:hover{
  color: #c991ba;
}
.order-details .order-details__item .single-item .single-item__content span{
  font-family: "Poppins";
  font-weight: 600;
  display: block;
}
.order-details .order-details__item .single-item .single-item__thumb{
  text-align: center;
  width: 60px;
  overflow: hidden;
  margin-right: 20px;
}
.order-details .order-details__item .single-item .single-item__remove{
  width: 35px;
  text-align: center;
  font-size: 22px;
  color: #212121;
}
.order-details .order-details__item .single-item .single-item__remove a:hover{
  color: #f10;
}
.order-details .order-details__count{
  margin: 0 30px;
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
}
.order-details .order-details__count .order-details__count__single{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding: 5px 0;
}
.order-details .order-details__count .order-details__count__single h5{
  color: #3f3f3f;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}
.order-details .order-details__count .order-details__count__single span.price{
  width: 30%;
  text-align: left;
  font-weight: 600;
  font-family: "Poppins";
}
.order-details .ordre-details__total{
  margin: 0 30px;
  padding: 30px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.order-details .ordre-details__total h5{
  color: #3f3f3f;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
}
.order-details .ordre-details__total span.price{
  width: 30%;
  text-align: left;
  font-weight: 700;
  font-family: "Poppins";
  letter-spacing: 1px;
}


/*Buttons*/
.dark-btn a{
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  background: #212121;
  color: #ffffff;
  font-family: "Poppins";
  padding: 0 45px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  transition: all 0.3s ease-in-out 0s;
}
.dark-btn a:hover{
  background: #c991ba;
}

.slider__activation__wrap--5.slick-initialized.slick-slider {
  margin-left: -20px;
    margin-right: -20px;
}
.pro__color li.grey a {background: #bbb  none repeat scroll 0 0}
.pro__color li.white a {background: #f5f5f5 none repeat scroll 0 0}
.pro__color li.lamon a {background: #f6f7bb none repeat scroll 0 0}
.pro__color li.navy a {background: navy none repeat scroll 0 0}
.pro__color li a.active {border: 2px solid #ef4242}
.btn-add-to-cart {background: #252525 none repeat scroll 0 0; text-align: center; border: 0; color: #fff; display: block; font-weight: 700; padding: 10px 56px; text-transform: uppercase; width: 260px;}
.btn-add-to-cart:hover, .btn-add-to-cart:active, .btn-add-to-cart:focus {background: #c991ba; color: #fff;}
#wr__add_to_cart {display: none}
.htc__product__details__top .woocommerce-message {display: none}
/*.wr__pro_color .pro__color {display: inline-flex; margin: 10px 0 0 0}*/
.wr__pro_color .pro__color {display: block; margin: 10px 0 0 0}
.wr__pro_color .pro__color li {display: inline-block; margin-bottom: 5px}
.wr__pro_color {height: 40px}
.product__action .add-wishlist {position: relative}
.product__action .disabled::before {content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #000; opacity: 0.3}
dl.variation {margin-bottom: 0}
.variation-Color span, .variation-Size span {font-weight: 300}
.woocommerce-cart table.cart img {width: 120px}
.woocommerce-cart table.cart td {text-align: center}
.table-content table td.product-thumbnail {padding: 20px 0}
.buttons-cart--inner .buttons-cart .style__btn_update_cart {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f !important;
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important;
    font-weight: 500;
    height: 62px;
    line-height: 62px;
    padding: 0 45px !important;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    border-radius: 0;
}
.buttons-cart--inner .buttons-cart .style__btn_update_cart:hover {
    background: #212121 !important;
    color: #fff !important;
}
.product-remove > a {display: inline !important}
.product-remove > a:hover {background: initial !important}
.coupon__box .input-text {width: 100% !important; border: 0 none !important; height: 56px !important; padding: 0 30px !important; float: none !important; margin-bottom: 0 !important}
.coupon__box .button {
    background: #212121 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 56px !important;
    line-height: 56px !important;
    padding: 0 27px !important;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    margin: 0 !important;
}

.htc__cart__total h6 {text-align: left; margin-bottom: 20px}
.htc__cart__total .shop_table {float: none !important; border: 0 !important}
.woocommerce-page .cart-collaterals .cart_totals {float: none; width: 100%}
.htc__cart__total .shop_table tr th, .htc__cart__total .shop_table tr td, .htc__cart__total .shop_table tr td span.amount {color: #3f3f3f; font-family: 'Poppins', sans-serif; font-size: 14px !important; font-weight: 500 !important; text-transform: uppercase;  border-top: 0 !important}
.htc__cart__total .shop_table tr th {text-align: left !important; padding: 15px 0 !important}
.htc__cart__total .shop_table tr td {padding: 15px 0 !important}
.htc__cart__total .shop_table tr.order-total th, .htc__cart__total .shop_table tr.order-total td {border-top: 20px !important; border-top: 1px solid #ebebeb !important}
.htc__cart__total #calc_shipping_postcode {padding: 5px}
.woocommerce-cart-form .woocommerce-cart-form__contents tr th {border-bottom: 1px solid #c1c1c1 !important; padding: 20px 10px !important; text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.woocommerce table.woocommerce-cart-form__contents {border-left: 1px solid #c1c1c1 !important; border-top: 1px solid #c1c1c1 !important; border-right: 0 !important; border-bottom: 0 !important; border-radius: 0 !important}
.woocommerce table.shop_table td {border-top: 0}
.page-template-template-checkout .woocommerce-checkout .col2-set .col-1, .page-template-template-checkout .woocommerce-checkout .col2-set .col-2 {float: none; width: 100%}
.woocommerce form.login {border-radius: 0}
.woocommerce-info {font-family: "Poppins";}
#createaccount {position: static}
.create-account span {font-family: "Poppins"; font-weight: 400;}
#order_review table.shop_table {border: 0 !important}
.single-item__remove {width: 35px; text-align: center; font-size: 22px; color: #212121;}
.single-item__thumb img {width: 58px}
.woocommerce-checkout-review-order-table .product-name a {
    font-size: 16px;
    font-family: "OldStandardTT";
    letter-spacing: 1px;
    color: #666;
    transition: all 0.3s ease-in-out 0s;
}
.wr-sp-price .amount {font-family: "Poppins"; font-weight: 600; display: block; font-size: 14px}
.woocommerce-checkout-review-order-table tfoot tr th, .woocommerce-checkout-review-order-table tfoot tr td {
    border-top: 0 !important; color: #3f3f3f;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600 !important;
    font-family: "Poppins";
    /*width: 50%;*/
}
.woocommerce-checkout-review-order-table tbody tr.cart_item td {padding-bottom: 20px}
.woocommerce-checkout-review-order-table tbody tr.cart_item:last-child td {padding-bottom: 25px}
.woocommerce-checkout-review-order-table tbody tr td:nth-child(1) {width: 58px; padding: 0}
.woocommerce-checkout-review-order-table tbody tr td:nth-child(2) {padding-left: 20px;}
.woocommerce-checkout-review-order-table tfoot tr td {text-align: right}
.woocommerce-checkout-review-order-table tfoot tr.cart-subtotal th, .woocommerce-checkout-review-order-table tfoot tr.cart-subtotal td {border-top: 1px solid rgba(0,0,0,.1) !important; padding: 20px 0 0 0}
.woocommerce-checkout-review-order-table tfoot tr th {padding-left: 0 !important; padding-right: 0 !important}
.woocommerce-checkout-review-order-table tfoot td span.amount, .woocommerce-checkout-review-order-table tfoot tr td {font-size: 14px; font-weight: 600; font-family: "Poppins"; color: #666}
.cart_item .product-thumbnail .single-item__thumb, .cart_item .product-thumbnail .wr-product-info {float: left}
.cart_item .product-thumbnail .wr-product-info {margin-left: 78px}
.woocommerce-checkout-review-order-table tfoot tr th .text-left {padding: 0 !important}
.woocommerce-checkout-review-order-table tfoot tr th .right-text {text-align: right}
.woocommerce-checkout-review-order-table tfoot tr th .right-text, .woocommerce-checkout-review-order-table tfoot tr th .right-text .amount {font-size: 14px; font-weight: 600; font-family: "Poppins"; color: #666}
.woocommerce-checkout-review-order-table tfoot tr.order-total .text-left, .woocommerce-checkout-review-order-table tfoot tr.order-total .right-text {font-size: 16px; font-weight: 700; border-top: 1px solid #ebebeb; padding-top: 30px !important}
.checkout-wrap .woocommerce-NoticeGroup-checkout {padding: 0 20px}
.htc__cart__total .shipping .text-left, .htc__cart__total .shipping .right-text {padding: 0}
.htc__cart__total .shipping .right-text {text-align: right}
.checkout-wrap .woocommerce > .woocommerce-message {margin-left: 20px; margin-right: 20px}
.accordion .shipping_address {display: none}
#ship-to-different-address-checkbox {opacity: 0}
.shop__grid__view__wrap {display: inline-block; width: 100%}
.wr__pro_color .text-color {vertical-align: 5px; margin-right: 5px}
#list-view .wr__pro_color {display: inline-block; width: 100%; margin-bottom: 15px; height: auto}
.ht__cat__list li.active a {color: #c991ba !important; text-decoration: underline}
.table-content table td.product_remove {width: 150px}
#amount {margin-top: 4px}
.wr__add_to_wishlisht {margin-top: 20px}
.wr__add_to_wishlisht .btn-add-to-wishlisht, .add_to_wishlist {font-family: 'Poppins', sans-serif; text-decoration: underline; padding-left: 7px}
.yith-wcwl-add-to-wishlist {margin-top: 20px}
.yith-wcwl-wishlistexistsbrowse .feedback, .yith-wcwl-wishlistexistsbrowse a {font-family: 'Poppins', sans-serif}
.yith-wcwl-wishlistexistsbrowse a {text-decoration: underline; color: #3fd9b2}
.wishlist-table table .product-remove {text-align: center}
.wishlist-table table .product-remove a {font-size: 25px; color: #000 !important; display: inline-block !important;}
.page-template-template-wishlist .wishlist-table .add_to_cart_button {
    background: #252525 none repeat scroll 0 0 !important;
    color: #fff !important;
    display: block !important;
    font-weight: 700 !important;
    padding: 13px 56px !important;
    text-transform: uppercase !important;
    border-radius: 0 !important
}

.wishlist-table table .product-thumbnail {width: 310px}
.page-template-template-wishlist .wishlist-table .add_to_cart_button:hover {background: #c991ba none repeat scroll 0 0 !important}
.product__action li a {text-decoration: none !important}
.product__action li a.add_to_wishlist {padding-left: 0 !important}
.ht__header__right li a, .htc__contact a, .select__language li a, .ht__show__more__btn a {font-family: 'Poppins', sans-serif;}
.logo a img {width: 276px}
.woocommerce-Addresses {margin-top: 20px}
.st-custom-button {cursor: pointer}
.pro__share {display: inline-block !important; margin-left: 10px; vertical-align: -10px}
.pro__share li {float: left}
.pro__prize .old__prize span {text-decoration: line-through; font-size: 15px !important}
.pro__prize li span {font-size: 24px}
.logo {padding-top: 10px}
.logo img {max-width: inherit !important}
.wr-empty {padding: 50px 20px}
.wr-empty .cart-empty {margin-bottom: 30px}
.woocommerce a.button, .woocommerce input.button {border-radius: 0}
.woocommerce table.my_account_orders {border-radius: 0 !important; font-size: 1em !important}
.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th {padding: 8px !important}
.woocommerce-MyAccount-navigation ul li {padding: 0 0 10px}
.woocommerce-MyAccount-content h3 {font-size: 24px; margin-bottom: 20px}
input[name="save_account_details"] {margin-top: 30px !important}
.wishlist-table table td.product-price .amount {color: #888; font-weight: 400}
.wishlist-table table td.product-price del {color: #888}
.wishlist-table table td.product-price ins {text-decoration: none; margin-left: 5px}
.wishlist-table table td.product-price ins .amount {font-size: 18px; color: #000 !important}
.single-product .product__small__images li img {width: 80px}
.wr-content {display: inline-block; width: 100%; padding: 30px 0}
.wr-content p {margin-bottom: 10px}
.footer__container {padding-bottom: 70px}
.woocommerce a.button, .woocommerce input.button {background: #000; color: #fff}
.woocommerce a.button:hover, .woocommerce input.button:hover {background: #000; color: #fff}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {display: none}
.woocommerce-checkout #payment {border-radius: 0}
.current-menu-item a {color: #c991ba !important}
.woocommerce ul#shipping_method li label, .woocommerce ul#shipping_method .amount {font-weight: 400}
.shipping-calculator-button {display: none}
.woocommerce-message .button, .woocommerce .woocommerce-error .button {background: #ebe9eb !important; color: #515151 !important}
.wr-frm-subcribe .wpcf7-submit {width: 100%; background: #000; color: #fff; outline: none; border: none; padding: 10px; margin-top: 5px}
.wr-frm-subcribe .wpcf7-email {padding: 5px; font-weight: 400}
.wr-frm-subcribe label {width: 100%}
#modal-subcribe h3 {text-align: center; padding: 0px 0 15px 0; font-size: 24px}
#modal-subcribe .modal-content {border-radius: 0; text-align: center}
#modal-subcribe .modal-header {border-bottom: 0; padding: 10px 10px 0 10px}
#modal-subcribe .modal-dialog {width: 400px}
.wr-frm-subcribe {margin-top: 30px}
.checkout_coupon {border-radius: 0}
.checkout_coupon .form-row {margin-bottom: 0 !important}
.product__small__images li {display: none}
#list-view .htc__list__details p {margin: 15px 0 10px}
#list-view .wr__pro_color .pro__color {display: inline-block; width: 100%}

@media screen and (min-width: 1200px) {
    .product .product__details {
        min-height: 120px;
    }
    .checkout-wrap .woocommerce-error {margin-left: 20px; margin-right: 20px;}
    .wr-frm-coupon .woocommerce-error {margin-left: 0 !important; margin-right: 0 !important}
}

@media screen and (max-width: 767px) {
    .logo {height: auto !important}
    .shop__grid__view__wrap .ht__list__product {display: block}
    .shop__grid__view__wrap .ht__list__thumb {margin: 0 !important; min-width: 100% !important}
    .htc__product__rightidebar .htc__grid__top {display: block;}
    .htc__product__rightidebar .htc__grid__top .htc__select__option, .htc__product__rightidebar .htc__grid__top .ht__pro__qun {display: block; width: 100%}
    .htc__product__rightidebar .htc__grid__top .htc__select__option .woocommerce-ordering, .htc__product__rightidebar .htc__grid__top .htc__select__option .orderby ht__select {float: none; width: 100%}
    .product__wrap .col-xs-12 {width: 50%}
    .product__wrap .col-xs-12:nth-child(even) {padding-left: 10px;}
    .product__wrap .col-xs-12:nth-child(odd) {padding-right: 10px}
    #grid-view .col-xs-12 {width: 50%}
    .page-template-template-cart .buttons-cart--inner {display: inline-block !important; width: 100%}
    .page-template-template-cart .buttons-cart--inner .buttons-cart {display: block; width: 100%; float: none !important}
    .page-template-template-cart .buttons-cart--inner .buttons-cart a:first-child {display: block !important; width: 100% !important; margin-bottom: 0 !important}
    .page-template-template-cart .buttons-cart--inner .buttons-cart .style__btn_update_cart {display: block !important; width: 100%; margin-top: 20px }
    .page-template-template-cart .buttons-cart--inner .buttons-cart a {display: block !important; width: 100%; margin-top: 20px; float: left; text-align: center}
    .ht__cp__btn {position: initial; width: 100%}
    .coupon input[type="submit"] {width: 100%}
    .page-template-template-cart .htc__cart__total {padding-left: 0 !important}
    .page-template-template-cart .htc__cart__total tr.shipping th {display: inline-block; width: 100%}
    .page-template-template-cart .htc__cart__total tr.shipping .text-left {float: left; width: 30%;}
    .page-template-template-cart .htc__cart__total tr.shipping .right-text {float: left; width: 70%}
    .pro__details__tab li {width: 33.33%; text-align: center}
    .pro__details__tab li.shipping {border-right: 0 !important}
    .product .product__details {
        min-height: 95px;
    }
    #modal-subcribe .modal-dialog {width: 100%}
    .woocommerce-page table.cart .product-thumbnail {display: block !important}
}

@media screen and (max-width: 600px) { 
    .page-template-template-cart .woocommerce-cart-form .table-content {overflow-y: auto}
    .page-template-template-cart .woocommerce table.woocommerce-cart-form__contents {width: 600px}
    .single-product .product__small__images {bottom: 0px}
/*    .logo img {width: 276px !important}*/
}


@media screen and (max-width: 480px) {
    .product__wrap .col-xs-12 {min-height: 340px}
    #grid-view .col-xs-12 {min-height: 340px}
    .ht__coupon__code {padding: 35px}
    .page-template-template-checkout .accordion .accordion__title {padding: 0 15px !important}
    .order-details .order-details__item {margin: 0 15px}
    .page-template-template-checkout #order_review .text-left {float: left; width: 30%;}
    .page-template-template-checkout #order_review .right-text {float: left; width: 70%;}
    .page-template-template-checkout #order_review .text-left, .page-template-template-checkout #order_review .right-text, .page-template-template-checkout #order_review td a, .page-template-template-checkout #order_review td span, .page-template-template-checkout #order_review td {font-size: 13px}
    .page-template-template-checkout .payment_box {font-size: 13px}
    .product .product__details {
        min-height: 128px;
    }
	.slider__container .row {margin: 0 !important}
	#modal-subcribe .modal-dialog {width: 300px; margin: 20px auto}
}