/*

  Template Name: Eme eCommerce HTML5 Template.
  Template URI: #
  Description: Eme is a unique website template designed in HTML with a simple & beautiful look. There is an excellent solution for creating clean, wonderful and trending material design corporate, corporate any other purposes websites.
  Author: HasTech
  Author URI: https://themeforest.net/user/hastech/portfolio
  Version: 1.0

*/

div.style-customizer {
    background-color: #fff;
    color: #262626;
    width: 300px;
    position: fixed;
    top: 0;
    z-index: 999999;
    left: -300px;
    box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
    height: 100%;
    bottom: 0;
}

.style-customizer a.button:hover {
    color:#95c41f; 
}

.style-customizer.closed {
    box-shadow: none;
}

.style-customizer a.button:hover:after {
    z-index: -1;
}

.style-customizer a.button {
    z-index: 9;
}


.style-customizer a.button.button-border {
  background: #95c41f none repeat scroll 0 0;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin-bottom: 40px;
  text-transform: uppercase;
  width: 100%;
}
.style-customizer a.button.button-border:hover {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #95e41f;
}

div.style-customizer .buy-button {
    padding: 30px 80px 1px;
    text-align: center;
    display: inline-block;
    z-index: 2;
    position: absolute;
    background: #fff;
    width: 100%;
}

div.style-customizer .content-chooser {
    padding: 90px 22px 30px 30px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-top: none;
}

div.style-customizer.opened .content-chooser {
    opacity: 1;
}

.content-chooser p {
    margin-bottom: 10px;
}

div.style-customizer h2 {
    margin: 0;
    font-size: 18px;
}

div.style-customizer h3 {
    font-size: 16px;
    margin-top: 30px;
    line-height: 15px;
}

div.style-customizer hr {
    margin: 15px 0;
}

div.style-customizer hr + h3 {
    margin-top: 0;
}

div.style-customizer a.opener {
    display: block;
    height: 45px;
    position: absolute;
    left: 300px;
    top: 200px;
    background: #fff;
    width: 45px;
    font-size: 20px;
    color: #777777;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.14), -1px 0 3px 0 rgba(0, 0, 0, 0.14);
}
div.style-customizer a.opener i {
    line-height: 45px;	
}
div.style-customizer.opened a.opener {
    right: -45px;
    border-color: transparent;
}

div.style-customizer ul {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 0;
}

div.style-customizer ul li {
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 25px;
  margin: 0 2px 3px 0;
  position: relative;
  transition: all 0.3s linear 0s;
  width: 23%;
}
div.style-customizer ul.layoutstyle li {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  color: #666666;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  line-height: 28px;
  padding-right: 5px;
  text-align: center;
  width: 49%;
}
div.style-customizer ul.layoutstyle li:hover {
  background-color: #95c41f;
  color: #fff;
}

div.style-customizer ul.layoutstyle li i {
    color: #cccccc;
    font-size: 11px;
}

div.style-customizer ul.layoutstyle li.selected {
    border: 1px solid #aaaaaa;
}

div.style-customizer ul.layoutstyle li.selected i {
    color: #666666;
}

div.style-customizer ul.footerChange li {
    width: 45%;
    height: 30px;
    margin-right: 5px;
    font-size: 13px;
    padding: 6px 14px 0;
}

div.style-customizer ul.footerChange li.dark {
    color: #f1f1f1;
    background-color: #262626;
}

div.style-customizer ul.footerChange li.light {
    color: #333333;
    background-color: #f7f7f7;
}

div.style-customizer ul.footerChange li i {
    width: 20px;
}
div.style-customizer ul.patternChange li {
  border: 1px solid #ccc;
}
div.style-customizer ul.patternChange li.pattern-0.selected:after,
div.style-customizer ul.patternChange li.pattern-1.selected:after,
div.style-customizer ul.patternChange li.pattern-2.selected:after,
div.style-customizer ul.patternChange li.pattern-3.selected:after,
div.style-customizer ul.patternChange li.pattern-4.selected:after {
    color: #333333;
}

div.style-customizer ul.patternChange li.selected:after {
    color: #ffffff;
}

div.style-customizer ul li.selected {
    border: 1px solid #000;
}

div.style-customizer ul.resetAll li {
    width: 100%;
    padding: 6px 0;
    min-width: 0;
    text-align: center;
    margin-top: 30px;
}

div.style-customizer .btn a {
    text-decoration: none;
    color: #ffffff;
}

div.style-customizer select {
    width: 100%;
    padding: 5px;
    border: 1px solid #b2bfca;
}


/*Color Skins*/

div.style-customizer .skin-default {
    background: #14b1bb; /*1*/
}
div.style-customizer .skin-amber {
    background: #ff1744; /*2*/
}
div.style-customizer .skin-blue-grey {
    background: #607d8b; /*3*/
}
div.style-customizer .skin-blue {
    background: #1a237e; /*4*/
}
div.style-customizer .skin-cyan {
    background: #006064; /*5*/
}
div.style-customizer .skin-green-dark {
    background: #006400; /*6*/
}
div.style-customizer .skin-green {
    background: #4caf50; /*7*/
}
div.style-customizer .skin-maroon {
    background: #800000; /*8*/
}
div.style-customizer .skin-orenge {
    background: #ff7f00; /*9*/
}
div.style-customizer .skin-pink {
    background: #FFC0CB; /*10*/
}
div.style-customizer .skin-purple {
    background: #aa00ff; /*11*/
}
div.style-customizer .skin-teal {
    background: #2395ec; /*12*/
}


/*Background Patterns*/

.pattern-1 {
    background-image: url("../img/customizer/pattern/1.png");
}
.pattern-2 {
    background-image: url("../img/customizer/pattern/2.png");
}
.pattern-3 {
    background-image: url("../img/customizer/pattern/3.png");
}
.pattern-4 {
    background-image: url("../img/customizer/pattern/4.png");
}
.pattern-5 {
    background-image: url("../img/customizer/pattern/5.png");
}
.pattern-6 {
    background-image: url("../img/customizer/pattern/6.png");
}
.pattern-7 {
    background-image: url("../img/customizer/pattern/7.png");
}
.pattern-8 {
    background-image: url("../img/customizer/pattern/8.png");
}

/*Background Images*/

.main-bg-change li {
    overflow: hidden;
}

.main-bg-change li img {
    height: 100%;
    width: 100%;
}

.main-bg-1,.main-bg-2,.main-bg-3,.main-bg-4,.main-bg-5,.main-bg-6,.main-bg-7,.main-bg-8 {
    background-image: url("../img/customizer/bodybg/01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.main-bg-2 {
    background-image: url("../img/customizer/bodybg/02.jpg");
}
.main-bg-3 {
    background-image: url("../img/customizer/bodybg/03.jpg");
}
.main-bg-4 {
    background-image: url("../img/customizer/bodybg/04.jpg");
}
.main-bg-5 {
    background-image: url("../img/customizer/bodybg/05.jpg");
}
.main-bg-6 {
    background-image: url("../img/customizer/bodybg/06.jpg");
}
.main-bg-7 {
    background-image: url("../img/customizer/bodybg/07.jpg");
}
.main-bg-8 {
    background-image: url("../img/customizer/bodybg/08.jpg");
}



/*extra*/


/*home-2*/

.boxed-layout .move-carousel {
    top: 9%;
    padding: 0px 0px 0px 35px;
}

.boxed-layout .awesome-features .awesome-features-device img {
    left: -440px;
}

.boxed-layout #video-background {
    height: 350px;
}

.boxed-layout #video-background .page-section-pt {
    padding: 60px 0px;
}

.boxed-layout #video-background .our-skills.bg-opacity-black-50.page-section-pt {
    padding: 75px 0;
}

.boxed-layout.home-2 .portfolio-info {
    display: none;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav .owl-prev {
    left: 50%;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav .owl-next {
    right: 50%;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-controls {
    top: 20px;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav i {
    color: #323232;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav i:hover {
    background: transparent;
}


/*home-3*/

.boxed-layout.home-3 .portfolio .portfolio-item .portfolio-overlay a {
    font-size: 12px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.boxed-layout.home-3 .portfolio .full-screen .portfolio-item .portfolio-overlay {
    top: -20px;
}

.boxed-layout.home-3 .portfolio .portfolio-item .portfolio-overlay span a {
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: 14px;
}

.boxed-layout.home-3 .full-screen .portfolio-item .portfolio-overlay a i {
    font-size: 12px;
}

.boxed-layout.home-3 .portfolio-item .portfolio-overlay i {
    padding-left: 0px;
}

.boxed-layout.home-3 .feature-9 {
    height: 300px;
}

.boxed-layout.home-3 .feature-9:hover .feature-9-icon {
    right: 26%;
}

.boxed-layout.home-3 .custom-content li {
    line-height: 26px;
}


/*home-4*/

.boxed-layout .slider-fade-carousel .slider-contents {
    padding-left: 86px;
}

.boxed-layout .slider-fade-carousel .slider-contents h1 {
    font-size: 56px;
}

.boxed-layout.home-4 .mega-menu .menu-links > li:last-child {
    padding-right: 40px;
}

.boxed-layout.home-4 .our-blog .blog-box-info {
    padding: 20px 40px;
    max-height: 231px;
}

.boxed-layout.home-4 .our-blog .blog-box-info span.text-white {
    display: none;
}

.boxed-layout.home-4 .our-blog .blog-box-info p.pt-30.pb-20 {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.boxed-layout.home-4 .our-blog .blog-box-image {
    max-height: 231px;
}

.boxed-layout.home-4 .mega-menu .drop-down-multilevel.right-menu {
    right: 76px;
}

.boxed-layout .contact-3-info .contact-add p {
    font-size: 12px;
}


/*Box Layout Responsive*/

@media (min-width: 768px) {
    .boxed-layout .page-wrapper {
        width: 750px;
    }
    .boxed-layout.page-wrapper {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .boxed-layout .page-wrapper {
        width: 970px;
    }
    .boxed-layout.page-wrapper {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .boxed-layout .page-wrapper {
        width: 1240px;
    }
    .boxed-layout.page-wrapper {
        width: 1240px;
    }
}

.boxed-layout .fullscreen-bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.white-bg {
    background-color: #fff;
}

.patternChange .main-bg-change li.main-bg-1 {
    background-image: url("../img/main-bg-0.jpg");
}

@media( max-width:992px) {
    .style-customizer {
        display: none !important;
    }
    .boxed-layout .page-wrapper {
        width: inherit;
    }
    .boxed-layout.page-wrapper {
        width: inherit;
    }
}

.customizer-logo {
  display: block;
  margin-bottom: 20px;
}